.container {
    padding: 1.3rem;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}


/* ================= COVER ================= */

.backDropContainer {
    width: 100%;
    height: 30vh;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;

    border-radius: 20px;
}


/* ================= PROFILE IMAGE ================= */

.backDropContainer img {
    width: 10em;
    height: 10em;

    object-fit: cover;

    border-radius: 50%;

    position: absolute;

    bottom: -30%;
    left: 8%;

    text-align: center;
}

.backDrop__overlay {
    width: 10em;
    height: 10em;

    object-fit: cover;

    border-radius: 50%;

    position: absolute;

    bottom: -30%;
    left: 8%;

    text-align: center;

    z-index: 4;
    transition: all 0.4s;
    color: white;
    opacity: 0.0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backDrop__overlay:hover {
    background: black;
    opacity: 0.8;
}


/* ================= PROFILE DETAILS ================= */

.profileContainer__details {
    padding-top: 6.6rem;

    display: flex;
    align-items: flex-start;
    width: 100%;
}


/* ================= LEFT PROFILE INFO ================= */

.profileInfo {
    width: 70%;
}

/* NAME + USERNAME */

.nameRow {

    display: flex;

    align-items: center;

    gap: 1.2rem;
}


.nameRow h2 {

    margin: 0;

}


.nameRow p {

    margin: 0;

    color: grey;

}


/* BIO */

.bio {

    margin-top: 0.7rem;

}


/* ================= RECENT ACTIVITY ================= */

.recentActivity {

    width: 30%;
    margin-left: auto;
}


.recentActivity h3 {

    margin-top: 0;

    margin-bottom: 1rem;

}


/* ================= POSTS ================= */

.card {

    display: flex;

    align-items: center;

    gap: 1.4rem;

}


.card__profileContainer {

    display: flex;

    flex-shrink: 0;
}


.card__profileContainer > img {

    width: 3.4rem;

    height: 3.4rem;

    object-fit: cover;

    border-radius: 5px;
}


.postCard {

    margin-bottom: 1rem;
}

/* .backDrop {
    position: relative;
} */


/* ================= CONNECT BUTTON ================= */

.connectBtn {

    padding-inline: 0.8rem;

    padding-block: 0.3rem;

    background: rgba(
        3,
        93,
        183,
        0.905
    );

    outline: none;

    border: none;

    color: white;

    border-radius: 10px;

    cursor: pointer;

    margin-top: 0.5rem;
}


.connectedButton {

    padding-inline: 0.8rem;

    padding-block: 0.3rem;

    border: 1px solid silver;

    outline: none;

    background: rgba(
        3,
        93,
        183,
        0.905
    );

    color: white;

    border-radius: 10px;

    cursor: pointer;

    margin-top: 0.5rem;
}

.workHistoryContainer {
    display: flex;
    gap: 1.4rem;
    padding-top: 1.4rem;
    width: 100%;
    flex-wrap: wrap;
}

.workHistoryCard {
    min-width: fit-content;
    padding-inline: 2.5rem;
    padding-block: 1rem;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgb(173, 173, 173);
}

.profileContainer__details input {
    outline: none;
    border-style: none;
    padding-inline: 10px;
    padding-block: 9px;
    width: fit-content;
}

.nameEdit {
    font-size: 1.5rem;
    font-weight: bold;
}

.updateProfileButton {
    padding-inline: 0.8rem;
    padding-block: 0.3rem;
    background: rgba(3, 93, 183, 0.905);
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    width: fit-content;
}

.profileContainer__details textarea {
    outline: none;
    border: none;
    padding-inline: 10px;
    padding-block: 9px;
    font-family: "Poppins" !important;
    font-size: 1.1rem;
}

.addWorkButton {
    padding-inline: 1.3rem;
    background: white;
    border:1px dotted silver ;
    border-radius: 10px;
    padding-block: 1.2rem;
    cursor: pointer;
}

.commentsContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
    background: rgb(0,0,0,0.7);
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
}

.allCommentsContainer {
    width: 40vw;
    height: fit-content;
    background: white;
    border-radius: 10px;
    position: relative;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.postCommentContainer {
    position: absolute;
    bottom: 1.2rem;
    left: 1.2rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.postCommentContainer > input {
    flex: 0.9;
    padding-inline: 1.5rem;
    padding-block: 1.2rem;
    border: none;
    outline: none;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
}

.postCommentContainer > input:focus {
    border: 1px solid silver;
}

.postCommentContainer__commentBtn {
    flex: 0.1;
    width: fit-content;
    padding: 1.2rem;
    background: rgb(61, 79, 177);
    border-radius: 10px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.inputField {
            padding-inline: 1.3rem;
            padding-block: 0.8rem;
            outline: none;
            border-radius: 10px;
            border: 1px solid silver;
            width: 100%;
        }


.bannerEdit {
    position: absolute;

    top: 1rem;
    right: 1rem;

    padding: 0.5rem 1rem;

    background: rgba(0, 0, 0, 0.65);

    color: white;

    border-radius: 8px;

    cursor: pointer;

    z-index: 3;

    opacity: 0;

    transition: all 0.3s ease;
}

.backDropContainer:hover .bannerEdit {
    opacity: 1;
}

.bannerEdit p {
    margin: 0;
}